[credential "https://github.com"]
	helper = 
	helper = !/run/current-system/sw/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/run/current-system/sw/bin/gh auth git-credential
[user]
	name = Satwik Kambham
	email = satwik.kambham@gmail.com
[init]
	defaultBranch = main
